*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #carouselWithControls{
        width: 50%;
    }
    .imagenProducto{
        width: 350px;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .cardProducto{
        flex-direction: row !important;
    }
    #detalleProducto, #fotoProducto{
        width: 50%;
    }
    .imagenProducto{
        width: 350px;
        height: 100%;
    }

}

.container{
    text-align: justify;
    margin-top: 1.5rem;
}

h1{
    text-transform: uppercase;
}

/* 
INDEX 
*/
.headerContainer{
    background-color: #6293f4;
}
.logo{
    max-width: 50%;
    margin-left: 0.5rem;
}
.searchBar{
    background-color: white;
    height: fit-content;
    margin: 0.5rem;
}
.searchBarInput{
    border-radius: 0;
}
.searchInput:focus{
    box-shadow: none;
}

.bi{
    display: flex;
    align-items: center;
    margin: 0.25rem;
}
#cardContainer{
    display: grid;
    grid-gap: 1rem;
}

.cardText{
    margin: 0.5rem;
}
/* 
END OF INDEX 
*/


/* 
PAGINA PRODUCTOS 
*/

#nombreProducto{
    margin: 1rem;
}

.btn-container{
    margin: 0.5rem auto;
}

.cardProducto{
    flex-direction: column;
}
#detalleProducto, #carouselWithControls{
    padding: 1.5rem;
    margin: 0 0.5rem;
}

#carouselWithControls{
    background-color: #c2c7c9;
    border-radius: 1rem;
    height: 350px;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 310px;
}

/* 
END OF PAGINA PRODUCTOS 
*/